@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #EDEFF2;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.h-10vh {
  height: 10vh;  
}

.top-10vh {
  top: 10vh;
}

.h-90vh {
  height: 90vh;
}

.min-h-10vh {
  min-height: 10vh;
}

.border-grd {
  background-image: linear-gradient(to right, #ef5350 75%,  #4dd0e1 100%) 1;
}

.white::after {
  background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  content: "";
  height: 100vh;
  position: fixed;
  width: 100px;
  z-index: 2;
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}